body{
	/*background-image: url(../images/BG/background.jpg);*/
	background-color: #f2f2f2;
    background-size: auto;
	background-attachment: fixed;

	font-family: "Courier New";
	}

div.Main{

	position: absolute;
	top: 120px;

	width: 100%;
	height: auto;

	padding-top:5px;
	padding-bottom: 40px;
}

img.ConfigImage{
	width: 30px;
	height: 30px;
}

div.SearchBoxPiece{
	background-image: url(../images/BG/MetalPattern.png);

	display: none;

	position: fixed;
	top: 110px;
	left: 0px;
	z-index: 997;

	width: 100%;
	height: 190px;

	border-bottom-radius: 5px;

	padding: 25px;

	background-color: #d7d7d7;

	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

	box-sizing: border-box;
}
div.AddReceptionItem{

	width: 80%;
	height: 100px;

	padding-top: 25px;

	box-sizing: border-box;

	margin-bottom: 50px;
}
table.TabRepceptionHead{
	margin-top: 5px;
}
table.TabRepceptionHead td{
	width:250px;
	text-align: center;
}
table.TabRepception{
	margin-top: 5px;
}
table.TabRepception td{
	width:250px;
	text-align: center;
}
table.TabRepception th{
	width:250px;
	text-align: center;
}
table.TabRepception tr:hover{
	background-color: #e6e6e6;
}

div.LstReceptionItems{
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 3px;

	overflow: scroll;
	overflow-x: hidden;

	width: 70%;
	height: 400px;

	padding-top: 25px;
	padding-bottom: 25px;

	box-sizing: border-box;
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.ChampsReceptionAdd{
	width: 200px;
	height: 30px;

	border-radius: 2px;
	border-width: 0px;

	padding: 3px;

	transition: .1s;
}

button.BtnAjoutReception{
	margin-top: 25px;
	width: 200px;
	height: 50px;

	font-size: 15px;

	border-width: 0px;
	border-radius: 3px;

	transition: 0.5s;

	cursor: pointer;
}
button.BtnAjoutReception:hover{
	background-color: #00e600;
}

.ChampsReceptionAdd:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

button.BtnAjouter{
	background-image: url(../images/icon/Add-icon.png);
	background-size: 30px 30px;
	border-width: 0px;
	border-radius: 30px;

	outline: none;

	width: 30px;
	height: 30px;
	cursor: pointer;
}

button.BtnAjouter:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	background-image: url(../images/icon/Add-icon-cl.png);
}

button.BtnEdit{
	background-image: url(../images/icon/edit-icon.png);
	background-size: 30px 30px;
	border-width: 0px;
	border-radius: 30px;

	opacity: 0.5;
	transition: 0.2s;

	margin-left: 5px;

	outline: none;

	width: 30px;
	height: 30px;
	cursor: pointer;
}

button.BtnEdit:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	opacity: 1;
}


button.BtnDetail{
	background-image: url(../images/icon/option-icon.png);
	background-size: 30px 30px;
	border-width: 0px;
	border-radius: 30px;

	opacity: 0.5;
	transition: 0.2s;

	margin-right: 5px;

	outline: none;

	width: 30px;
	height: 30px;
	cursor: pointer;
}
button.BtnDetail:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	opacity: 1;
}

button.BtnRetirer{
	background-image: url(../images/icon/sub-icon.png);
	background-size: 30px 30px;
	border-width: 0px;
	border-radius: 30px;

	outline: none;

	width: 30px;
	height: 30px;
	cursor: pointer;
}
button.BtnRetirer:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	background-image: url(../images/icon/sub-icon-cl.png);
}

#OptionAvance{
	width: 100%;
	height: 50px;

	background-image: url(../images/BG/MetalPattern.png);
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

	position: fixed;
	top: 60px;
	left: 0px;

	z-index: 998;

	padding-top: 17px;
	color: white;

	cursor: pointer;

	font-size: 15px;

	border-width: 0px;
	border-color: black;
	border-style: solid;

	box-sizing: border-box;
}
#OptionAvance:hover{
	font-size: 16px;
}

div.SearchBoxPiece td{

	color: white;
	width: 100px;
}

button.BtnRecherche{
	margin-top: 10px;
	width: 100px;
	height: 50px;

	border-width: 0px;
	border-radius: 3px;

	transition: 0.5s;

	cursor: pointer;
}

button.BtnRecherche:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

table.InsertionTable td{
	width: 300px;
}

table.InsertionTable input{
	width: 250px;
	height: 30px;

	outline: none;

	border-radius: 2px;
	border-width: 0px;

	margin-top: 10px;
	margin-right: 10px;

	padding: 3px;

	transition: .1s;

	border-radius: 2px;
	border-width: 0px;

	margin-top: 10px;
	margin-right: 10px;

	padding: 3px;

	transition: .1s;
}

table.InsertionTable input:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

table.InsertionTable select{
	width: 250px;
	height: 30px;
	outline: none;
	border:0px solid black;
}

table.InsertionTable select:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

table.InsertionTable textarea{
	width: 250px;
	height: 100px;

	outline: none;

	resize: none;

	border-radius: 2px;
	border-width: 0px;

	margin-top: 10px;
	margin-right: 10px;

	padding: 3px;

	transition: .1s;
}

table.InsertionTable textarea:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

div.ConfigBox{
	width: 90%;
	height: auto;
		min-height: 200px;
		max-height: 600px;

	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;

	margin-top: 10px;
	margin-bottom: 5px;

	padding: 25px;

	overflow: auto;

}

table.LogData td{
	width: 150px;
	text-align: center;
	padding: 25px;
}

table.LogData tr:hover{
	background-color: #e6e6e6;
	cursor: default;
}

div.InfoPiece{
	
	

	display: block;
	position: relative;


	width: 94%;
		min-width: 600px;
	height: auto;

	border-radius: 5px;

	margin-top: 10px;

	padding: 25px;

	background-color: #d7d7d7;

	transition: .2s;

	box-sizing: border-box;
}
div.InfoPiece:hover{
	box-shadow: 10px 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

div.DescPlus{
	display: none;
	width: 80%;
	height: auto;

	border-width: 0px;
	border-color: black;
	border-style: inset;
	border-radius: 3px;

	position: relative;
	left: 100px;
	top: 20px;

	margin-bottom: 15px;

	padding: 15px;

	box-sizing: border-box;

	background-color: #e6e6e6;
}

div.DescPlus td{
	width: 150px;

	text-align: left;
	color: black;

}

.ChampsRecherche{
	width: 180px;
	height: 30px;

	border-radius: 2px;
	border-width: 0px;

	margin-top: 10px;
	margin-right: 10px;

	padding: 3px;

	transition: .1s;
}

.ChampsRecherche:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

table.InfoPiece td {

	width: 180px;
	text-align: center;

	cursor: default;
}

table.InfoPiece tr {
	transition: 0.5s;
	color: black;

	border-radius: 6px;
	border-width: 1px;

	cursor: default;
}

div.NavMenuDiv{
	display: block;

	width: 600px;
	height: 40px;

	border-radius: 5px;

	margin-top: 50px;
	margin-bottom: 50px;

	padding-top: 20px;
	padding-bottom: 5px;

	background-color: white;

	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.Header{

	position: fixed;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 60px;

	padding-top: 20px;

	background-color: white;

	z-index: 999;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	box-sizing: border-box;

}

ul.NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.NavBar li:last-child{
	float: right;
}

li.NavBar {
    display: inline;
    float: left;
}

li a.NavBar {

	display: inline;
    width: 100px;

    font-family: "Courier New";
    font-weight: normal;

    border-style: solid;
    border-width: 0px;
    border-bottom-width: 3px;
    border-color: gray;

    padding-bottom: 3px;

    margin-left: 10px;
    margin-right: 10px;
    outline-style: none;
    text-decoration: none;

    color: black;

    font-size: 20px;

    cursor: pointer;
}

li a:hover {
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 3px;
    border-color: red;
    cursor: pointer;
}

li a.selected {
    width: 80px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 3px;
    border-color: red;

    padding-bottom: 3px;

    margin-left: 10px;
    margin-right: 10px;
    outline-style: none;
    text-decoration: none;

    color: black;

    font-size: 20px;
}

h2{
	font-size: 30px;
}

img.Login{
	width: 200px;
	height: 200px;

	border-radius: 100px;
	border-width: 2px;
	border-style: solid;
	border-color: black;

	margin-top: 20px;
}

input.Log{

	width: 300px;
	height: 50px;

	border-radius: 2px;
	border-width: 0px;

	padding: 3px;

	transition: .1s;

	margin-top: 10px;

	border-radius: 2px;
	border-width: 0px;

	font-size: 20px;

	text-align: center;

	outline-width: 0px;
}

input.Log:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

button.Connexion{
	width: 300px;
	height: 50px;

	border-radius: 2px;
	border-width: 0px;

	font-size: 20px;

	background-color: green;
	color: white;

	margin-top: 10px;

	cursor: pointer;

	transition: all 0.1s ease;
}

button.Connexion:hover{

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

/*8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/