/*
	orange : #e67300 ;
	gris BG : #f2f2f2 ;
	blanc : #ffffff ;
	gris header table : #d9d9d9 ;
*/
* {
    box-sizing: border-box;
}
body{
	/*background-image: url(../images/BG/background.jpg);*/
	background-color: #f2f2f2;
    background-size: auto;
	background-attachment: fixed;

	font-family: "Courier New";

	overflow-x: hidden;	
}
h1{
	font-size: 20px;
}

h3{
	cursor: pointer;
}
h3:hover{
	color: gray;
}
input{
	font-family: "Courier New";
}

div.Main{

	position: absolute;

	width: 100%;
	height: auto;

	padding-top:5px;
	padding-bottom: 40px;
}

.headBox{
	height: 100%;
}

img.ConfigImage{
	width: 30px;
	height: 30px;

	z-index: 999;

	border-radius: 100%;
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

	position: fixed;
	right: 10px;
	top: 10px;
}

div.optAvance{
	background-color: red;
	width: 50px;
	height: 20px;
}

div.SearchBoxPiece{
	opacity: 1;
	display: block;

	width: 100%;
	height: auto;
	padding-top: 20px;

	border-radius: 5px;

	box-sizing: border-box;
}

#OptionAvance{
	width: auto;
	min-width: 60px;
	height: auto;
		min-height: 50px;

	background-image: url(../images/BG/MetalPattern.png);
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

	position: fixed;
	left: 5px;
	top: 110px;

	margin-left: -20px;
	margin-top: -5px;

	z-index: 998;

	padding-top: 17px;
	padding-right: 10px;
	color: white;
	text-align: right;

	cursor: pointer;

	font-size: 15px;

	border-width: 0px;
	border-color: black;
	border-style: solid;
	border-radius: 3px;

	box-sizing: border-box;

	transition: .3s;
}
#OptionAvance:hover{
	width: auto;
	min-width: 100px;
	margin-left: -5px;
}

div.AddReceptionItem{

	width: 80%;
		min-width: 520px;
		max-width: 850px;
	height: 100px;

	padding-top: 25px;

	box-sizing: border-box;

	margin-bottom: 100px;
}
table.TabRepceptionHead{
	margin-top: 5px;
	width: 100%;
}
table.TabRepceptionHead td{
	width:100%;
	height: 30px;
	text-align: center;
	margin-top: 10px;
}

table.TabRepception{
	margin-top: 5px;
}
table.TabRepception td{
	width:250px;
	text-align: center;
}
table.TabRepception th{
	width:250px;
	text-align: center;
}
table.TabRepception tr:hover{
	background-color: #e6e6e6;
}

div.LstReceptionItems{
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 3px;

	overflow: scroll;
	overflow-x: hidden;

	width: 70%;
		min-width: 550px;
	height: 400px;

	padding-top: 25px;
	padding-bottom: 25px;

	margin-top: 30px;

	box-sizing: border-box;
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.ChampsReceptionAdd{
	width: 100%;
	height: 50px;

	border-radius: 2px;
	border-width: 0px;
	border-bottom-width: 3px;
	border-style: solid;
	border-color: black;

	background-color: transparent;

	padding: 3px;

	transition: .3s;

	border-radius: 2px;

	font-size: 20px;

	text-align: center;
	padding-top: 5px;

	outline-width: 0px;

	cursor: pointer;
}

.ChampsReceptionAdd:hover{
	border-color: #e67300;
}

.ChampsReceptionAdd:focus{
	border-color: #e67300;
}

button.BtnAjoutReception{
	margin-top: 25px;
	width: 200px;
	height: 50px;

	color: white;

	font-size: 15px;

	border-width: 0px;
	border-radius: 3px;

	background-color: #e67300;

	transition: 0.5s;

	cursor: pointer;
}
button.BtnAjoutReception:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}



button.BtnAjouter{
	
	border-width: 0px;
	border-radius: 3px;

	outline: none;
	background-color: #e67300;
	color: white;

	font-size: 15px;

	margin-top: 25px;
	width: 200px;
	height: 50px;

	cursor: pointer;
}

button.BtnAjouter:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

button.BtnEdit{
	background-image: url(../images/icon/edit-icon.png);
	background-size: 30px 30px;
	border-width: 0px;
	border-radius: 30px;

	opacity: 0.5;
	transition: 0.2s;

	margin-left: 5px;

	outline: none;

	width: 30px;
	height: 30px;
	cursor: pointer;
}

button.BtnEdit:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	opacity: 1;
}

button.BtnLog{
	background-image: url(../images/icon/Log1-icon.png);
	background-size: 30px 30px;
	border-width: 0px;
	border-radius: 30px;

	opacity: 0.5;
	transition: 0.2s;

	margin-left: 5px;
	margin-right: 5px;
	outline: none;

	width: 30px;
	height: 30px;
	cursor: pointer;
}

button.BtnLog:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	opacity: 1;
}

button.BtnDetail{
	background-image: url(../images/icon/option-icon.png);
	background-size: 30px 30px;
	border-width: 0px;
	border-radius: 30px;

	opacity: 0.5;
	transition: 0.2s;

	margin-right: 5px;

	outline: none;

	width: 30px;
	height: 30px;
	cursor: pointer;
}
button.BtnDetail:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	opacity: 1;
}

button.BtnRetirer{
	background-image: url(../images/icon/sub-icon.png);
	background-size: 30px 30px;
	border-width: 0px;
	border-radius: 30px;

	outline: none;

	width: 30px;
	height: 30px;
	cursor: pointer;
}
button.BtnRetirer:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	background-image: url(../images/icon/sub-icon-cl.png);
}

#RetourMenu{
	width: 60px;
	height: 50px;

	background-color: #e67300;
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

	position: fixed;
	right: -5px;
	top: 20px;

	margin-left: 20px;
	margin-top: -5px;

	z-index: 998;

	padding-top: 17px;
	padding-left: 10px;
	color: white;
	text-align: left;

	cursor: pointer;

	font-size: 15px;

	border-width: 0px;
	border-color: black;
	border-style: solid;
	border-radius: 3px;

	box-sizing: border-box;

	transition: .3s;
}
#RetourMenu:hover{
	width: 100px;
	margin-left: 5px;
}

table.RechercheBox{
	width: 100%;
	height: auto;
}
table.RechercheBox td{
	width: 50%;
	height: 60px;
}
table.RechercheBox td:last-child{
	text-align: right;
}

div.SearchBoxPiece td{

	color: white;
	width: 100px;
	opacity: 1;
}

button.BtnRecherche{
	margin-top: 10px;
	width:100%;
	height: 50px;

	background-color: #e67300;
	color: white;

	border-width: 0px;
	border-radius: 3px;

	transition: 0.5s;

	cursor: pointer;
}

button.BtnRecherche:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

table.InsertionTable{ width: 100%; }
table.InsertionTable td{width: 50%;}

table.InsertionTable tr td:first-child{text-align: left;}
table.InsertionTable tr td:last-child{text-align: right;}

table.InsertionTable input{
	width: 100%;
	height: 50px;

	border-radius: 2px;
	border-width: 0px;
	border-bottom-width: 3px;
	border-style: solid;
	border-color: black;

	background-color: transparent;

	padding: 3px;

	transition: .3s;

	border-radius: 2px;

	font-size: 20px;

	text-align: right;
	padding-top: 5px;

	outline-width: 0px;

	cursor: pointer;
}

table.InsertionTable input:hover{border-color: #e67300;}
table.InsertionTable input:focus{border-color: #e67300;}

table.InsertionTable select{
	width: 100%;
	height: 50px;

	border-radius: 2px;
	border-width: 0px;
	border-bottom-width: 3px;
	border-style: solid;
	border-color: black;

	background-color: transparent;

	padding: 3px;

	transition: .3s;

	border-radius: 2px;

	font-size: 20px;

	text-align: right;
	padding-top: 5px;

	outline-width: 0px;

	cursor: pointer;
}

table.InsertionTable select:hover{border-color: #e67300;}
table.InsertionTable select:focus{border-color: #e67300;}

table.InsertionTable textarea{
	width: 220px;
	height: 100px;

	outline: none;

	resize: none;

	border-radius: 2px;
	border-width: 0px;

	text-align: center;

	margin-top: 10px;
	margin-right: 10px;

	padding: 3px;

	transition: .3s;
}
table.InsertionTable textarea:hover{width: 250px;}
table.InsertionTable textarea:focus{width: 260px;}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
div.ConfigBox{
	width: 90%;
	height: auto;
		min-height: 200px;

	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;

	margin-top: 10px;
	margin-bottom: 5px;

	padding: 25px;

	overflow: auto;

}

div.LogBox{

	margin-top: 10px;
	margin-bottom: 5px;

	padding: 25px;

	overflow: auto;

}
table.LogData {
	width: 100%;
}
table.LogData td{
	width: 20%;
	text-align: center;
	padding: 25px;
}

table.LogData th{background-color: black; color: white; height: 50px;}
table.LogData tr{background-color: white; transition: .3s;}
table.LogData tr:nth-child(even) {background-color: #f2f2f2;}
table.LogData tr:nth-child(odd) {background-color: #e6e6e6;}

table.LogData input{
	width: 100px;
	height: 25px;
	font-family: "Courier New";

	border-width: 0px;
	outline: none;
	text-align: center;
	transition: .2s;
}
table.LogData input:hover{
	border-width: 2px;
	border-color: green;
	border-radius: 2px;
}
table.LogData input:focus{
	border-width: 2px;
	border-color: green;
	border-radius: 2px;
}
table.LogData button{
	width: 100px;
	height: 25px;
	font-family: "Courier New";

	border-width: 0px;
	outline: none;
	text-align: center;
	transition: .2s;
}
table.LogData button:hover{
	box-shadow: 10px 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

table.LogData tr:hover{
	background-color: #e67300;
	color: white;
	cursor: default;
}



div.InfoPiece{
	display: block;
	position: relative;

	width: 100%;
		min-width: 600px;
	height: auto;
		min-height: 60px;

	border-radius: 5px;

	margin-bottom: 10px;

	padding-top: 15px;
	padding-bottom: 15px;

	background-color: #f2f2f2;

	transition: .5s;

	box-sizing: border-box;
}
div.InfoPiece:hover{
	box-shadow: 10px 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

div.DescPlus{
	display: none;
	width: 80%;
	height: auto;

	border-width: 0px;
	border-color: black;
	border-style: inset;
	border-radius: 3px;

	position: relative;
	left: 100px;
	top: 20px;

	margin-bottom: 15px;

	padding: 15px;

	box-sizing: border-box;

	background-color: #e6e6e6;
}

div.DescPlus td{
	width: 150px;

	text-align: left;
	color: black;

}

.ChampsRecherche{
	width: 100%;
	height: 50px;

	border-radius: 2px;
	border-width: 0px;
	border-bottom-width: 3px;
	border-style: solid;
	border-color: black;

	background-color: transparent;

	padding: 3px;

	transition: .3s;

	border-radius: 2px;

	font-size: 20px;

	text-align: left;
	padding-top: 5px;

	outline-width: 0px;

	cursor: pointer;
}

.ChampsRecherche:hover{
	border-color: #e67300;
}
.ChampsRecherche:focus{
	border-color: #e67300;
}
table.InfoPiece {
	width: 100%;
}
table.InfoPiece td {

	width: 25%;
	text-align: center;

	cursor: default;
}

table.InfoPiece tr td:first-child {

	font-weight: bold;
	text-align: left;
}

table.InfoPiece tr {
	transition: 0.5s;
	color: black;

	border-radius: 6px;
	border-width: 1px;

	cursor: default;
}

div.NavMenuDiv{
	display: block;

	width: 600px;
	height: 40px;

	border-radius: 5px;

	margin-top: 50px;
	margin-bottom: 50px;

	padding-top: 20px;
	padding-bottom: 5px;

	background-color: white;

	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.FeetBar{

	
	border-width: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-color: black;
	border-style: solid;
	border-radius: 2px;

	background-color: #f2f2f2;

	padding-top: 5px;
	padding-right: 7px;
	padding-left: 3px;

	position: fixed;
	bottom: 0px;
	left: 0px;

	box-sizing: border-box;

}

ul.NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.NavBar li:last-child{
	float: right;
}

li.NavBar {
    display: inline;
    float: left;
}

li a.NavBar {

	display: inline;
    width: 100px;

    font-family: "Courier New";
    font-weight: normal;

    border-style: solid;
    border-width: 0px;
    border-bottom-width: 3px;
    border-color: gray;

    padding: 3px;

    margin-left: 10px;
    margin-right: 10px;
    outline-style: none;
    text-decoration: none;

    color: black;

    font-size: 20px;

    cursor: pointer;
}

li a:hover {
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 3px;
    border-color: red;
    cursor: pointer;
}

li a.selected {
    width: 80px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 3px;
    border-color: red;

    padding: 3px;

    margin-left: 10px;
    margin-right: 10px;
    outline-style: none;
    text-decoration: none;

    color: black;

    font-size: 20px;
}

h2{
	font-size: 30px;
}

img.Login{
	width: 200px;
	height: 200px;



	border-radius: 0px;
	border-width: 0px;
	border-style: solid;
	border-color: black;

	margin-top: 20px;
	margin-bottom: 30px;
}

input.Log{

	width: 100%;
	height: 50px;

	border-radius: 2px;
	border-width: 0px;
	border-bottom-width: 3px;
	border-style: solid;
	border-color: black;

	background-image: url(../images/icon/lock-icon.png);
	background-color: transparent;
	background-size: 30px 30px;
    background-position: 10px 10px;
    background-repeat: no-repeat;

	padding: 3px;

	transition: .3s;

	border-radius: 2px;

	font-size: 20px;

	text-align: right;
	padding-top: 5px;

	outline-width: 0px;

	cursor: pointer;
}

input.Log:hover{
	border-color: #e67300;
}
input.Log:focus{
	border-color: #e67300;
}

input.LogLock{
	background-image: url(../images/icon/lock-icon.png);
	background-size: 30px 30px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

input.LogUser{
	background-image: url(../images/icon/user.png);
	background-size: 30px 30px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

button.Connexion{
	width: 100%;
	height: 50px;

	border-radius: 2px;
	border-width: 0px;

	font-size: 20px;

	background-color: #e67300;
	color: white;

	margin-top: 25px;

	cursor: pointer;

	transition: 0.3s ;
}

button.Connexion:hover{

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

div.BoxMenu{
	width: 200px;
	height: 300px;

	margin: 20px;

	display: inline-block;
	box-sizing: border-box;
}

img.BoxMenu{
	width: 200px;
	height: 200px;

	border-radius: 200px;
	cursor: pointer;
	transition: .3s;
	opacity: 0.7;
}

img.BoxMenu:hover{

	opacity: 1;
}

img.reverse{
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.clOrange{
	color: #e67300;
}

table.TabFeet{
	margin-top: 20px;
	width: 100%;
}
table.TabFeet td{
	width: 50%;
}
table.TabFeet button{
	width: 100%;
	height: 40px;
	color: white;

	cursor: pointer;

	border-width: 0px;
	transition: .2s;
}
table.TabFeet button:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
table.TabFeet button.Confirmer{
	background-color: green;
}
table.TabFeet button.Annuler{
	background-color: red;
}

table.TabSoumissionPOTP{
	width: 100%;
}

table.TabSoumissionPOTP td{
	width: 25%;
	text-align: center;
}

table.TabSoumissionPOTP tr th:first-child{
	text-align: left;
}

table.TabSoumissionPOTP input{
	width: 100%;
	height: 30px;

	border-width: 0px;
	border-bottom-width: 3px;
	border-color: black;
	border-style: solid;

	text-align: center;

	background-color: transparent;
	outline: none;
	transition: .2s;
	cursor: pointer;
}

table.TabSoumissionPOTP input:hover{
	border-color: #e67300;
}
table.TabSoumissionPOTP input:focus{
	border-color: #e67300;
}

table.TabSoumission{
	width: 100%;
	cursor: pointer;

}
table.TabSoumission tr td:first-child{
	text-align: left;
}
table.TabSoumission tr td:last-child{
	text-align: right;
}

table.TabInfoSection{
	width: 600px;
	background-color: white;
}

table.TabSoumission input{
	width: 100%;
	height: 30px;

	border-width: 0px;
	border-bottom-width: 3px;
	border-color: black;
	border-style: solid;

	background-color: transparent;

	outline: none;

	text-align: right;

	cursor: pointer;

	transition: .3s;
}
table.TabSoumission select{
	width: 100%;
	height: 30px;

	border-width: 0px;
	border-bottom-width: 3px;
	border-color: black;
	border-style: solid;

	background-color: transparent;

	outline: none;

	text-align: right;

	cursor: pointer;

	transition: .2s;
}
table.TabSoumission input:hover{
	border-color: #e67300;
}
table.TabSoumission input:focus{
	border-color: black;
}
table.TabSoumission select:hover{
	border-color: #e67300;
}
table.TabSoumission select:focus{
	border-color: black;
}
table.TabSoumission button{
	width:100%;
	height: 30px;

	border-width: 0px;
	border-radius: 5px;
	background-color: #e67300;
	color: white;

	transition: .2s;
}
table.TabSoumission button:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

table.TabSoumission td{
	width: 250px;
	height: 40px;

	margin-right: 20px;
	cursor: pointer;
}
table.TabInfoSection{
	width: 100%;
}
table.TabInfoSection td{
	width: 20%;
	text-align: center;
	font-family: "Courier New";
	border-style: solid;
	border-color: black;
	border-width: 0px;
	cursor: default;

	padding: 15px;
}

.tabLastColumAlignRight td:last-child{
	text-align: right;
}

table.TabInfoSection tr:nth-child(even) {background-color: #f2f2f2}
table.TabInfoSection tr:nth-child(odd) {background-color: #e6e6e6}

table.TabInfoSection tr{
	transition: .4s;
}
table.TabInfoSection tr:hover{
	background-color:  #e67300;
	color: white;
}

table.TabInfoSection th{
	background-color:#d9d9d9;
	height: 50px;

	border-style: solid;
	border-color: black;
	border-width: 0px;

	cursor: default;
}

div.divSections{
	border-width: 1px;
	border-style: solid;
	border-color: black;

	width: 600px;
	height: auto;
		max-height: 500px;

	overflow: auto;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

#container { width: 600px; cursor: pointer;  }
#imageView {  border: 1px solid #000; }
#imageTemp { border: 1px solid #000;}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
/*adaptative test*/

.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    position: fixed;
    top: 30px;
    left: 20px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}
.aside {
    background-color: #262626;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footer {
    background-color: #262626;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
.boxMaxHeigth{
	max-height: 600px;
	overflow-x:hidden;
	overflow-y:auto;

}
.box{
	border-radius: 3px;
	background-color: white;
	border-width: 0px;
	border-style: solid;
	margin-top: 10px;

	padding: 25px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.InfoBox{
	border-radius: 3px;
	background-color: #f2f2f2;
	border-width: 0px;
	border-style: solid;
	margin-top: 10px;

	cursor: default;

	padding: 25px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: .3s;
}
.InfoBox:hover{
	box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
}
.InfoBoxSelected{
	box-shadow: 0 1px 3px rgb(230, 0, 0), 0 1px 2px rgb(230, 0, 0);
}
.InfoBoxSelected:hover{
	box-shadow: 0 2px 4px rgb(230, 0, 0), 0 2px 3px rgb(230, 0, 0);
}
.maxheight{
	height: auto;
		min-height: 200px;
		max-height: 90%;
	overflow: scroll;
	overflow-x: hidden;
}
.BGOrange{
	background-color: #E67300;
	color: white;
}
.BGRed{
	background-color: #e60000;
	color: white;
}
.BGGreen{
	background-color: #2eb82e;
	color: white;
}
.StyleInput{
	border-width: 0px;
	border-color: black;
	border-style: solid;
	border-bottom-width: 2px;

	font-family: "Courier New";

	outline-color: #e67300;

	background-color: transparent;
	text-align: right;

	transition: .3s;
}
.StyleInput:hover{
	border-color: #e67300;
}
.StyleInput:focus{
	border-color: #e67300;
}
.StyleBtn{

	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;

	border-width: 0px;
	border-radius: 3px;

	outline: none;
	cursor: pointer;

	transition: .3s;
}
.StyleBtn:hover{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    .middle{
	height: auto;
}
}
@media only screen and (min-width: 920px)  {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .middle{
	height: 70%;
	padding-top: 10%;
	}
}
@media only screen and (min-width:1600px) {
    /* For desktop: */
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}

    .middle{
	height: 70%;
	padding-top: 10%;
}
}

.overflowAll{
	overflow: auto;
}