body{
	/*background-image: url(../images/BG/background.jpg);*/
	background-color: #f2f2f2;
    background-size: auto;
	background-attachment: fixed;

	font-family: "Courier New";
	}

div.Main{

	position: absolute;
	top: 120px;

	width: 100%;
	height: auto;

	padding-top:5px;
	padding-bottom: 40px;
}
div.SearchBoxPiece{
	background-image: url(../images/BG/MetalPattern.png);

	display: none;

	position: fixed;
	top: 110px;
	left: 0px;
	z-index: 997;

	width: 100%;
	height: 250px;

	border-radius: 5px;

	padding: 25px;

	background-color: #d7d7d7;

	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

	box-sizing: border-box;
}

#OptionAvance{
	width: 100%;
	height: 50px;

	background-image: url(../images/BG/MetalPattern.png);
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

	position: fixed;
	top: 60px;
	left: 0px;

	z-index: 998;

	padding-top: 15px;
	color: white;

	cursor: pointer;

	border-width: 1px;
	border-color: black;
	border-style: solid;
}
div.SearchBoxPiece td{

	color: white;
	width: 100px;
}

button.BtnRecherche{
	margin-top: 10px;
	width: 100px;
	height: 50px;

	border-width: 0px;
	border-radius: 3px;

	transition: 0.5s;

	cursor: pointer;
}

button.BtnRecherche:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

table.InsertionTable td{
	width: 300px;
}

table.InsertionTable input{
	width: 250px;
	height: 30px;

	border-radius: 2px;
	border-width: 0px;

	margin-top: 10px;
	margin-right: 10px;

	padding: 3px;

	transition: .1s;
}

table.InsertionTable input:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

table.InsertionTable select{
	width: 250px;
	height: 30px;

	border-radius: 2px;
	border-width: 0px;

	margin-top: 10px;
	margin-right: 10px;

	padding: 3px;

	transition: .1s;
}

table.InsertionTable select:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

table.InsertionTable textarea{
	width: 250px;
	height: 100px;

	resize: none;

	border-radius: 2px;
	border-width: 0px;

	margin-top: 10px;
	margin-right: 10px;

	padding: 3px;

	transition: .1s;
}

table.InsertionTable textarea:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

div.InfoPiece{
	background-image: url(../images/BG/MetalPattern.png);

	display: block;
	position: relative;

	width: 94%;
		min-width: 600px;
	height: auto;

	border-radius: 5px;

	margin-top: 20px;

	padding: 25px;

	background-color: #d7d7d7;

	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

	box-sizing: border-box;

	cursor: pointer;
}
div.InfoPiece:hover{
	border-width: 1px;
	border-color: red;
	border-style: solid;
}

div.DescPlus{
	display: none;
	width: 80%;
	height: auto;

	border-width: 0px;
	border-color: black;
	border-style: inset;
	border-radius: 3px;

	position: relative;
	left: 100px;
	top: 20px;

	margin-bottom: 15px;

	padding: 15px;

	box-sizing: border-box;

	background-color: gray;
}

div.DescPlus td{
	width: 150px;

	text-align: left;
	color: white;

}

.ChampsRecherche{
	width: 180px;
	height: 30px;

	border-radius: 2px;
	border-width: 0px;

	margin-top: 10px;
	margin-right: 10px;

	padding: 3px;

	transition: .1s;
}

.ChampsRecherche:hover{
	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

table.InfoPiece td {

	width: 180px;
	text-align: center;

	cursor: pointer;
}

table.InfoPiece tr {
	transition: 0.5s;
	color: white;

	border-radius: 6px;
	border-width: 1px;

	cursor: pointer;
}

div.NavMenuDiv{
	display: block;

	width: 600px;
	height: 40px;

	border-radius: 5px;

	margin-top: 50px;
	margin-bottom: 50px;

	padding-top: 20px;
	padding-bottom: 5px;

	background-color: white;

	box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.Header{

	position: fixed;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 60px;

	padding-top: 20px;

	background-color: white;

	z-index: 999;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	box-sizing: border-box;

}

div.feet{

	position: fixed;
	bottom: 0px;
	left: 0px;

	width: 100%;
	height: 30px;

	background-color: black;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

ul.NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.NavBar li:last-child{
	float: right;
}

li.NavBar {
    display: inline;
    float: left;
}

li a.NavBar {

	display: inline;
    width: 100px;

    font-family: "Courier New";
    font-weight: normal;

    border-style: solid;
    border-width: 0px;
    border-bottom-width: 3px;
    border-color: gray;

    padding-bottom: 3px;

    margin-left: 10px;
    margin-right: 10px;
    outline-style: none;
    text-decoration: none;

    color: black;

    font-size: 20px;

    cursor: pointer;
}

li a:hover {
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 3px;
    border-color: red;
    cursor: pointer;
}

li a.selected {
    width: 80px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 3px;
    border-color: red;

    padding-bottom: 3px;

    margin-left: 10px;
    margin-right: 10px;
    outline-style: none;
    text-decoration: none;

    color: black;

    font-size: 20px;
}

h2{
	font-size: 30px;
}

table.loginAdmin{

}

img.Login{
	width: 200px;
	height: 200px;

	border-radius: 100px;
	border-width: 2px;
	border-style: solid;
	border-color: black;

	margin-top: 20px;
}

input.Log{

	width: 250px;
	height: 40px;

	margin-top: 10px;

	border-radius: 2px;
	border-width: 0px;

	font-family: "Caviar";
	font-size: 20px;

	background-color: black;
	color: white;

	text-align: center;

	outline-width: 0px;
}

button.Connexion{
	width: 250px;
	height: 40px;

	border-radius: 2px;
	border-width: 0px;

	font-family: "Caviar";
	font-size: 20px;

	background-color: green;
	color: white;

	margin-top: 10px;

	cursor: pointer;

	transition: all 0.5s ease;
}

button.Connexion:hover{

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}
@media(min-width: 601px) , (orientation: portrait) {
table.InfoClient{
	width: 500px;
	height: 50px;

	color: white;

	font-weight: bold;
}
}
@media (max-width: 600px) , (orientation: portrait) {
table.InfoClient{
	width: 100%;
	height: 50px;

	color: white;

	font-weight: bold;
}
}

table.InfoClient td{

	width: 250px;
}

table.InfoClient tr:hover{

	background-color: gray;
}

/*8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/