body{
	margin: 0;
	padding: 0;
	font-family: Walkway;
	background-image: url("images/notebook.png");
	background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

/*adaptative test*/

.row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px){
    /* For tablets: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (min-width: 900px){
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@font-face {
    font-family: Walkway;
    src: url(Walkway/Walkway_SemiBold.ttf);
}

h1{
	color: #E67300;

}

.DivCentre{
	width: 500px;
	height: 500px;

	position: fixed;
	top: 50%;
	left: 50%;

	margin-top: -250px;
	margin-left: -250px;
}

.WarpTop{
	width: 100%;
	min-height: 300px;
	height: auto;

	position: relative;

	margin-top: 150px;

	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;

	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.WarpBottom{

	width: 100%;
	min-height: 350px;
	height: auto;

	position: relative;
	top: 50%;

	margin-top: 50px;
	margin-bottom: 30px;

	padding-left: 50px;
	padding-right: 50px;
}

.Warp1{
	
}

.Warp2{
	background-color: #E6E6E6;
}

.imgContact{
	height: 80px;
	width: auto;
}

.imgLogo{
	height: 120px;
	width: 180px;
}

.txtContact{
	height: 80px;
	padding: 10px;
}

.Contact-div{
	width: 350px;
	height: 100px;
}



