body{
	margin: 0;
	padding: 0;
	font-family: Walkway;
	background-image: url("images/notebook.png");
	background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #e67300;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/*adaptative test*/

.row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px){
    /* For tablets: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (min-width: 900px){
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@font-face {
    font-family: Walkway;
    src: url(Walkway/Walkway_SemiBold.ttf);
}

h1{
	color: #E67300;

}

.DivCentre{
	width: 500px;
	height: 500px;

	position: fixed;
	top: 50%;
	left: 50%;

	margin-top: -250px;
	margin-left: -250px;
}

.WarpTop{
	width: 100%;
	min-height: 300px;
	height: auto;

	position: relative;

	margin-top: 150px;

	padding: 50px;

	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.WarpBottom{

	width: 100%;
	min-height: 350px;
	height: auto;

	position: relative;
	top: 50%;

	margin-top: 50px;
	margin-bottom: 30px;

	padding-left: 50px;
	padding-right: 50px;
}

.Warp1{
	
}

.Warp2{
	background-color: #E6E6E6;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: .5s;
	margin-bottom: 5px;
}

.Warp2:hover{
	box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);

}

.imgContact{
	height: 80px;
	width: auto;
}

.imgLogo{
	height: 120px;
	width: 180px;
}

.txtContact{
	height: 80px;
	padding: 10px;
}

.Contact-div{
	width: 350px;
	height: 100px;
}

a{
	color: #E67300;
}
a:hover{
	color: #E67300;
}





